.cases {
    &__title {
        margin-bottom: 4.8rem;
        text-align: center;
    }


    &__tabs {
        margin-bottom: 2rem;

        &-list {
            display: flex;
            gap: 1.6rem;
            flex-wrap: wrap;
        }

        &-item {
            color: #808080;
            cursor: pointer;
            padding: 1.2rem;
            text-transform: uppercase;

            &.is-active {
                color: $color-primary;
                border: 1px solid #80808033;
                border-radius: 0.8rem;
                background: linear-gradient(120.61deg, #333333 0%, #1E1E1E 100%);
            }
        }
    }

    &__slider-wrapper {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__slide-media {
        aspect-ratio: 380 / 475;
        overflow: hidden;
    }

    &__slide-image img,
    &__slide-video video {
        aspect-ratio: 380 / 475;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}