.contacts {}

.contacts__title {
    margin-bottom: 4.8rem;
}

.contacts__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.contacts__column {}

.contacts__schedule {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;

    &::before {
        content: '';
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 3.33989C18.5083 4.21075 19.7629 5.46042 20.6398 6.96519C21.5167 8.46997 21.9854 10.1777 21.9994 11.9192C22.0135 13.6608 21.5725 15.3758 20.72 16.8946C19.8676 18.4133 18.6332 19.6831 17.1392 20.5782C15.6452 21.4733 13.9434 21.9627 12.2021 21.998C10.4608 22.0332 8.74055 21.6131 7.21155 20.7791C5.68256 19.9452 4.39787 18.7264 3.48467 17.2434C2.57146 15.7604 2.06141 14.0646 2.005 12.3239L2 11.9999L2.005 11.6759C2.061 9.94888 2.56355 8.26585 3.46364 6.79089C4.36373 5.31592 5.63065 4.09934 7.14089 3.25977C8.65113 2.42021 10.3531 1.98629 12.081 2.00033C13.8089 2.01437 15.5036 2.47589 17 3.33989ZM12 5.99989C11.7551 5.99992 11.5187 6.08985 11.3356 6.25261C11.1526 6.41537 11.0357 6.63964 11.007 6.88289L11 6.99989V11.9999L11.009 12.1309C11.0318 12.3044 11.0997 12.4689 11.206 12.6079L11.293 12.7079L14.293 15.7079L14.387 15.7899C14.5624 15.926 14.778 15.9998 15 15.9998C15.222 15.9998 15.4376 15.926 15.613 15.7899L15.707 15.7069L15.79 15.6129C15.9261 15.4375 15.9999 15.2219 15.9999 14.9999C15.9999 14.7779 15.9261 14.5623 15.79 14.3869L15.707 14.2929L13 11.5849V6.99989L12.993 6.88289C12.9643 6.63964 12.8474 6.41537 12.6644 6.25261C12.4813 6.08985 12.2449 5.99992 12 5.99989Z' fill='%23F5F5F5'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.4rem;
        height: 2.4rem;
    }
}

.contacts__phone {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;

    &::before {
        content: '';
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4.5C6 3.83696 6.25286 3.20107 6.70294 2.73223C7.15303 2.26339 7.76348 2 8.4 2H15.6C16.2365 2 16.847 2.26339 17.2971 2.73223C17.7471 3.20107 18 3.83696 18 4.5V19.5C18 20.163 17.7471 20.7989 17.2971 21.2678C16.847 21.7366 16.2365 22 15.6 22H8.4C7.76348 22 7.15303 21.7366 6.70294 21.2678C6.25286 20.7989 6 20.163 6 19.5V4.5ZM13.2 18.25C13.2 17.9185 13.0736 17.6005 12.8485 17.3661C12.6235 17.1317 12.3183 17 12 17C11.6817 17 11.3765 17.1317 11.1515 17.3661C10.9264 17.6005 10.8 17.9185 10.8 18.25C10.8 18.5815 10.9264 18.8995 11.1515 19.1339C11.3765 19.3683 11.6817 19.5 12 19.5C12.3183 19.5 12.6235 19.3683 12.8485 19.1339C13.0736 18.8995 13.2 18.5815 13.2 18.25Z' fill='%23F5F5F5'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.4rem;
        height: 2.4rem;
    }
}

.contacts__address {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;

    &::before {
        content: '';
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 21L12.708 21.706C12.6151 21.7993 12.5047 21.8733 12.3831 21.9238C12.2615 21.9743 12.1312 22.0003 11.9995 22.0003C11.8678 22.0003 11.7375 21.9743 11.6159 21.9238C11.4943 21.8733 11.3839 21.7993 11.291 21.706L11.285 21.699L11.268 21.682L11.206 21.619C10.8535 21.2558 10.5068 20.8871 10.166 20.513C9.31072 19.5752 8.49146 18.6052 7.71 17.605C6.818 16.455 5.906 15.155 5.213 13.871C4.535 12.612 4 11.248 4 10C4 5.461 7.592 2 12 2C16.408 2 20 5.461 20 10C20 11.248 19.465 12.612 18.787 13.87C18.094 15.156 17.183 16.455 16.29 17.605C15.1968 19.0041 14.0298 20.344 12.794 21.619L12.732 21.682L12.715 21.699L12.709 21.705L12 21ZM12 13C12.7956 13 13.5587 12.6839 14.1213 12.1213C14.6839 11.5587 15 10.7956 15 10C15 9.20435 14.6839 8.44129 14.1213 7.87868C13.5587 7.31607 12.7956 7 12 7C11.2044 7 10.4413 7.31607 9.87868 7.87868C9.31607 8.44129 9 9.20435 9 10C9 10.7956 9.31607 11.5587 9.87868 12.1213C10.4413 12.6839 11.2044 13 12 13Z' fill='%23F5F5F5'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
    }
}

.contacts__social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contacts__social-title {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

.contacts__social-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.1rem;

    &::before {
        content: '';
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        background-color: #0A0A0A;
        transition: background-color 0.3s linear;
    }

    &:hover::before {
        background-color: #F5F5F5;
    }

    &--telegram {
        &::before {
            mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM16.64 8.8C16.49 10.38 15.84 14.22 15.51 15.99C15.37 16.74 15.09 16.99 14.83 17.02C14.25 17.07 13.81 16.64 13.25 16.27C12.37 15.69 11.87 15.33 11.02 14.77C10.03 14.12 10.67 13.76 11.24 13.18C11.39 13.03 13.95 10.7 14 10.49C14.0069 10.4582 14.006 10.4252 13.9973 10.3938C13.9886 10.3624 13.9724 10.3337 13.95 10.31C13.89 10.26 13.81 10.28 13.74 10.29C13.65 10.31 12.25 11.24 9.52 13.08C9.12 13.35 8.76 13.49 8.44 13.48C8.08 13.47 7.4 13.28 6.89 13.11C6.26 12.91 5.77 12.8 5.81 12.45C5.83 12.27 6.08 12.09 6.55 11.9C9.47 10.63 11.41 9.79 12.38 9.39C15.16 8.23 15.73 8.03 16.11 8.03C16.19 8.03 16.38 8.05 16.5 8.15C16.6 8.23 16.63 8.34 16.64 8.42C16.63 8.48 16.65 8.66 16.64 8.8Z' fill='%230A0A0A'/%3E%3C/svg%3E%0A");
        }
    }

    &--viber {
        &::before {
            mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.6761 2.62805C13.5299 1.92477 10.2672 1.92477 7.12106 2.62805L6.78206 2.70305C5.89684 2.90038 5.08375 3.33952 4.43332 3.97159C3.7829 4.60365 3.32065 5.40383 3.09806 6.28305C2.30195 9.42575 2.30195 12.7173 3.09806 15.86C3.31036 16.6985 3.74083 17.4659 4.34573 18.0841C4.95063 18.7024 5.70841 19.1495 6.54206 19.38L7.00706 22.156C7.0219 22.2442 7.06011 22.3268 7.11769 22.3951C7.17528 22.4635 7.25014 22.5152 7.33448 22.5448C7.41883 22.5744 7.50957 22.5809 7.59725 22.5635C7.68494 22.5461 7.76637 22.5056 7.83306 22.446L10.5641 20.003C12.6141 20.1268 14.6714 19.9629 16.6761 19.516L17.0161 19.441C17.9013 19.2437 18.7144 18.8046 19.3648 18.1725C20.0152 17.5404 20.4775 16.7403 20.7001 15.861C21.4962 12.7183 21.4962 9.42674 20.7001 6.28405C20.4774 5.40471 20.015 4.60444 19.3644 3.97236C18.7138 3.34028 17.9005 2.90121 17.0151 2.70405L16.6761 2.62805ZM7.96506 6.20205C7.7792 6.17483 7.58964 6.21225 7.42806 6.30805H7.41406C7.03906 6.52805 6.70106 6.80505 6.41306 7.13105C6.17306 7.40805 6.04306 7.68805 6.00906 7.95805C5.98906 8.11805 6.00306 8.28005 6.05006 8.43304L6.06806 8.44305C6.33806 9.23604 6.69006 9.99904 7.12006 10.717C7.67476 11.7254 8.35704 12.6581 9.15006 13.492L9.17406 13.526L9.21206 13.554L9.23506 13.581L9.26306 13.605C10.1 14.4004 11.0349 15.0859 12.0451 15.645C13.2001 16.274 13.9011 16.571 14.3221 16.695V16.701C14.4451 16.739 14.5571 16.756 14.6701 16.756C15.0288 16.7303 15.3684 16.5845 15.6341 16.342C15.9591 16.054 16.2341 15.715 16.4481 15.338V15.331C16.6491 14.951 16.5811 14.593 16.2911 14.35C15.709 13.8405 15.0791 13.3884 14.4101 13C13.9621 12.757 13.5071 12.904 13.3231 13.15L12.9301 13.646C12.7281 13.892 12.3621 13.858 12.3621 13.858L12.3521 13.864C9.62106 13.167 8.89206 10.402 8.89206 10.402C8.89206 10.402 8.85806 10.026 9.11106 9.83404L9.60306 9.43805C9.83906 9.24605 10.0031 8.79205 9.75006 8.34405C9.36264 7.67547 8.91154 7.04588 8.40306 6.46405C8.29183 6.32742 8.13606 6.23431 7.96306 6.20105M12.5791 5.00005C12.4465 5.00005 12.3193 5.05272 12.2255 5.14649C12.1317 5.24026 12.0791 5.36744 12.0791 5.50005C12.0791 5.63265 12.1317 5.75983 12.2255 5.8536C12.3193 5.94737 12.4465 6.00005 12.5791 6.00005C13.8441 6.00005 14.8941 6.41305 15.7251 7.20505C16.1521 7.63805 16.4851 8.15105 16.7031 8.71305C16.9221 9.27605 17.0221 9.87704 16.9961 10.479C16.9933 10.5447 17.0035 10.6103 17.0261 10.672C17.0487 10.7337 17.0832 10.7904 17.1277 10.8387C17.2175 10.9365 17.3425 10.9945 17.4751 11C17.6077 11.0056 17.7371 10.9583 17.8348 10.8684C17.9325 10.7786 17.9905 10.6537 17.9961 10.521C18.0259 9.7806 17.903 9.04195 17.6351 8.35105C17.3659 7.65663 16.9559 7.02541 16.4311 6.49705L16.4211 6.48705C15.3901 5.50205 14.0851 5.00005 12.5791 5.00005ZM12.5451 6.64405C12.4125 6.64405 12.2853 6.69672 12.1915 6.79049C12.0977 6.88426 12.0451 7.01144 12.0451 7.14405C12.0451 7.27665 12.0977 7.40383 12.1915 7.4976C12.2853 7.59137 12.4125 7.64405 12.5451 7.64405H12.5621C13.4741 7.70905 14.1381 8.01305 14.6031 8.51205C15.0801 9.02605 15.3271 9.66504 15.3081 10.455C15.305 10.5877 15.3548 10.716 15.4464 10.812C15.538 10.9079 15.664 10.9635 15.7966 10.9665C15.9292 10.9696 16.0576 10.9198 16.1535 10.8282C16.2494 10.7366 16.305 10.6107 16.3081 10.478C16.3321 9.44104 15.9981 8.54605 15.3361 7.83205V7.83005C14.6591 7.10405 13.7301 6.72005 12.6121 6.64505L12.5951 6.64305L12.5451 6.64405ZM12.5261 8.31905C12.4591 8.31314 12.3917 8.32078 12.3278 8.34151C12.2639 8.36223 12.2049 8.39562 12.1542 8.43968C12.1035 8.48374 12.0622 8.53757 12.0327 8.59794C12.0033 8.65832 11.9863 8.72401 11.9828 8.79109C11.9793 8.85818 11.9894 8.92528 12.0124 8.98839C12.0354 9.0515 12.0709 9.10932 12.1167 9.15841C12.1626 9.2075 12.2178 9.24685 12.2792 9.2741C12.3406 9.30136 12.4069 9.31596 12.4741 9.31705C12.8921 9.33905 13.1591 9.46504 13.3271 9.63405C13.4961 9.80405 13.6221 10.077 13.6451 10.504C13.6463 10.5711 13.6611 10.6373 13.6884 10.6986C13.7158 10.7599 13.7552 10.815 13.8043 10.8607C13.8534 10.9065 13.9113 10.9418 13.9743 10.9647C14.0374 10.9876 14.1045 10.9976 14.1715 10.994C14.2385 10.9905 14.3041 10.9735 14.3644 10.944C14.4247 10.9146 14.4785 10.8733 14.5225 10.8226C14.5665 10.7719 14.5998 10.7129 14.6206 10.6491C14.6413 10.5852 14.6489 10.5179 14.6431 10.451C14.6111 9.85105 14.4231 9.32104 14.0381 8.93105C13.6511 8.54105 13.1241 8.35105 12.5261 8.31905Z' fill='%230A0A0A'/%3E%3C/svg%3E%0A");
        }
    }
}

.contacts__form {
    transition: opacity 0.4s ease;
}

.contacts__map {}

.contacts-form__title {
    font-family: $font-secondary;
    font-size: 2.4rem;
    line-height: 1.333;
    margin-bottom: 3.2rem;
}

.contacts-form__field {
    margin-bottom: 2.4rem;
}

.contacts-form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    color: $color-primary;
    padding: 1.6rem;
    outline: none;

    &::placeholder {
        color: $color-primary;
    }

    &:focus,
    &:active,
    &:hover {
        background-color: #F5F5F533;
        border-bottom: 1px solid #808080;
        outline: none;
    }
}

.contacts-form__agreement {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

.contacts__map {
    margin-top: 8rem;

    iframe {
        width: 100%;
        height: 40rem;
        border-radius: 1.6rem;
    }
}

.contacts__success {
    display: none;
    color: #ffffff;
    border: 1px solid #80808033;
    border-radius: 2.4rem;
    padding: 3.2rem;
    background: linear-gradient(316.21deg, #1D1D1D 0%, #0C0C0C 100%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.contacts__success-content {
    max-width: 45rem;
    margin-inline: auto;
    text-align: center;
}

.contacts__success-title {
    font-family: $font-secondary;
    font-size: 2.4rem;
    line-height: 1.333;
    margin-bottom: 2.4rem;
}

.contacts__success-message {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.contacts__success-button {
    margin: 2.4rem auto 0 auto;
}