.hero {
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(10, 10, 10, 0) 10.83%, #0A0A0A 92.71%);
    z-index: 1;
    pointer-events: none;
}

.hero__inner {
    position: relative;
    padding-block: 4rem;
    z-index: 2;
}

.hero__media {
    aspect-ratio: 1440/904;
    position: absolute;
    inset: 0;
    z-index: 0;

    @media (max-width: 768px) {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(10, 10, 10, 0) 10.83%, #0A0A0A 92.71%);
            z-index: 1;
            pointer-events: none;
        }
    }
}

.hero__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero__content {
    padding-top: 32rem;

    @media (max-width: 768px) {
        padding-top: 28rem;
    }
}

.hero__title {
    font-family: $font-secondary;
    font-size: 8rem;
    line-height: 1.1;
    color: $color-primary;

    @media (max-width: 768px) {
        font-size: 3.8rem;
        text-align: center;
    }
}

.hero__button {
    margin-block-start: 2.4rem;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.hero__services {
    margin-block-start: 8rem;

    @media (max-width: 768px) {
        margin-block-start: 3.2rem;
    }
}

.hero__services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.hero__services-item {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 2.4rem;

    &:nth-child(3n) {
        border-right: 0;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0.8rem;
        border: 0;
        padding: 1.6rem 0;
        text-align: center;
    }
}

.hero__services-icon {
    width: 4rem;
    height: 4rem;
}

.hero__services-title {
    font-family: $font-tertiary;
    font-size: 1.4rem;
    color: #fff;
}