.services {
    h3 {
        font-family: $font-secondary;
        font-size: 2.4rem;
        line-height: 1.333;
        margin-bottom: 0.8rem;
    }
}

.services__content {
    display: flex;
    align-items: flex-start;
    gap: 8rem;
    margin-bottom: 8rem;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 3.2rem;
        margin-bottom: 6.4rem;
    }
}

.services__description,
.services__slider {
    width: calc(50% - 4rem);

    @media (max-width: 768px) {
        width: 100%;
    }
}

.services__slider img {
    width: 100%;
    border-radius: 0.8rem;
}

.services__description {
    font-size: 1.8rem;
}

.services--clinic .services__title {
    text-align: center;
}

.services__title {
    margin-bottom: 4.8rem;

    @media (max-width: 768px) {
        margin-bottom: 3.2rem;
    }
}

.services__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.services__column {}

.services__list {}

.services__item {
    background-color: #0F0F0F;
    border-radius: 1.6rem;
    padding: 2.4rem;
    margin-bottom: 0.4rem;

    @media (max-width: 768px) {
        padding-block: 1.6rem;
    }
}

.services__item:last-child {
    margin-bottom: 0;
}

.services__item-header {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.8rem;
    cursor: pointer;

    @media (max-width: 768px) {
        gap: 0.8rem;
    }
}

.services__item-header::before {
    content: "";
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2.6665C13.3629 2.6665 10.785 3.44849 8.59239 4.91358C6.39974 6.37866 4.69077 8.46104 3.6816 10.8974C2.67243 13.3337 2.40839 16.0146 2.92286 18.601C3.43733 21.1875 4.70721 23.5632 6.57191 25.4279C8.43661 27.2926 10.8124 28.5625 13.3988 29.077C15.9852 29.5914 18.6661 29.3274 21.1024 28.3182C23.5388 27.3091 25.6212 25.6001 27.0863 23.4074C28.5513 21.2148 29.3333 18.6369 29.3333 15.9998C29.3333 14.2489 28.9885 12.5151 28.3184 10.8974C27.6483 9.27972 26.6662 7.80986 25.4281 6.57175C24.19 5.33363 22.7201 4.35151 21.1024 3.68144C19.4848 3.01138 17.751 2.6665 16 2.6665ZM13.3333 21.9998V9.99984L21.3333 15.9998L13.3333 21.9998Z' fill='%23808080'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    transition: background-image 0.3s ease-in-out;

    @media (max-width: 768px) {
        display: none;
    }
}

.services__item-header.active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5333 28.6267C9.30857 27.5531 8.43501 26.1361 8.02603 24.5596C7.61706 22.9832 7.69159 21.3202 8.23993 19.7867L11.0799 11.88C11.1452 11.6973 11.2613 11.537 11.4145 11.4179C11.5676 11.2989 11.7516 11.226 11.9448 11.2078C12.1379 11.1896 12.3323 11.2268 12.505 11.3152C12.6777 11.4036 12.8217 11.5394 12.9199 11.7067L13.3333 12.44C13.6533 12.96 13.7199 13.6 13.5199 14.1733L12.2133 17.8267L12.7866 18.3333L20.7333 9.33332C21.1999 8.79999 21.9999 8.74666 22.5466 9.21332C23.0666 9.67999 23.1199 10.4933 22.6666 11.0133L16.7333 17.72L17.5066 18.4L24.7733 10.16C25.2399 9.62666 26.0533 9.57332 26.5733 10.04C27.1066 10.5067 27.1599 11.3333 26.6666 11.8533L19.4133 20.0933L20.1866 20.7733L26.4399 13.68C26.9066 13.1467 27.7199 13.0933 28.2399 13.56C28.7599 14.0267 28.8266 14.84 28.3599 15.3333L22.1066 22.4533L22.8666 23.1333L27.0933 18.3467C27.5599 17.8133 28.3733 17.76 28.9066 18.2267C29.4399 18.6933 29.4799 19.5067 29.0133 20L22.0799 27.8933C21.3705 28.7005 20.5088 29.3599 19.5443 29.8337C18.5797 30.3076 17.5312 30.5865 16.4587 30.6546C15.3862 30.7227 14.3108 30.5787 13.294 30.2307C12.2773 29.8827 11.3391 29.3376 10.5333 28.6267ZM15.4533 12.2933L19.2399 7.99999C19.5599 7.63999 19.9599 7.33332 20.3999 7.15999L20.9066 6.11999C20.982 5.96975 21.0266 5.80597 21.0378 5.63825C21.0491 5.47054 21.0267 5.30227 20.9721 5.14331C20.9174 4.98435 20.8316 4.8379 20.7196 4.71255C20.6076 4.5872 20.4717 4.48546 20.3199 4.41332C20.0154 4.2673 19.6657 4.24698 19.3463 4.35676C19.027 4.46655 18.7636 4.6976 18.6133 4.99999L15.2666 11.8533C15.3333 12 15.4133 12.1467 15.4533 12.2933ZM14.6666 10.6667V10.7333L18.3733 3.17332C18.518 2.86714 18.5362 2.51624 18.4238 2.19674C18.3115 1.87724 18.0778 1.61491 17.7733 1.46666C17.6229 1.39183 17.4592 1.34765 17.2916 1.33669C17.124 1.32572 16.956 1.34819 16.7971 1.40278C16.6383 1.45737 16.492 1.543 16.3665 1.65468C16.2411 1.76637 16.1392 1.90187 16.0666 2.05332L12.5466 9.26666C13.4133 9.41332 14.1733 9.90666 14.6666 10.6667ZM6.35993 19.1067L9.19993 11.2C9.55993 10.2 10.3999 9.51999 11.3999 9.29332L14.2533 3.43999C14.4007 3.13571 14.4218 2.78544 14.3119 2.46567C14.202 2.14591 13.97 1.88263 13.6666 1.73332C13.5163 1.6585 13.3525 1.61432 13.1849 1.60335C13.0174 1.59239 12.8493 1.61486 12.6905 1.66945C12.5317 1.72404 12.3853 1.80967 12.2599 1.92135C12.1345 2.03303 12.0325 2.16854 11.9599 2.31999L6.6666 13.12L5.99993 12.7867L6.27993 8.90666C6.33326 8.30666 6.09326 7.70666 5.6666 7.27999L5.05326 6.66666C4.4266 6.09332 3.39993 6.47999 3.33326 7.33332L2.6666 15.72C2.49326 18.44 3.69326 21.04 5.79993 22.6667C5.77326 21.4933 5.9466 20.28 6.35993 19.1067Z' fill='%23808080'/%3E%3C/svg%3E%0A");
}

.services__item-header::after {
    content: "";
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8L12 15L19 8' stroke='%23808080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

.services__item-header.active::after {
    transform: rotate(180deg);
}

.services__item-title {

    @media (max-width: 768px) {
        max-width: 15rem;
    }
}

.services__item-price {
    color: #808080;
    margin-left: auto;
    white-space: nowrap;
}

.services__sub-list {
    display: none;
    padding-left: 5.6rem;

    @media (max-width: 768px) {
        padding-left: 0;
    }
}

.services__sub-list.active {
    display: block;
}

.services__sub-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    padding-block-start: 0.8rem;
    padding-block-end: 0.4rem;
    position: relative;
}

.services__sub-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-image: repeating-linear-gradient(to right,
            #F5F5F50D 0 4px,
            transparent 4px 6px);
}

.services__sub-item:last-child::after {
    display: none;
}

.services__sub-price {
    white-space: nowrap;
}

.services__sub-title {}

.services__sub-price {}