.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    color: #0A0A0A;
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 0.8rem;
    padding: 1.1rem 2.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
}

.button:hover {
    color: $color-primary;
    background: #0A0A0A;
    border: 1px solid $color-primary;
}

/* ==== SWIPER NAVIGATION BUTTONS ==== */
.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: #F5F5F566;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.4rem 2.4rem;
    backdrop-filter: blur(8px);
    border-radius: 0.8rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;

    &--prev {
        left: 2.4rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 18.5L8.5 11.5L15.5 4.5' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &--next {
        right: 2.4rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 18.5L15.5 11.5L8.5 4.5' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}

/* Contact Form 7 */
.wpcf7-not-valid-tip {
    font-size: 1.4rem;
}

.wpcf7 form .wpcf7-response-output {
    margin-inline: 0;
    margin-bottom: 0;
}

.wpcf7-response-output {
    display: none !important;
}

/* Popups */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3.2rem 2.4rem;
    transition: all .8s ease 0s;
}

.popup__content {
    position: relative;
    width: 100%;
    max-width: 37.8rem;
    background: linear-gradient(316.21deg, #1D1D1D 0%, #0C0C0C 100%);
    border-radius: 2.4rem;
    border: 1px solid #80808033;
    padding: 3.2rem 2.4rem;
    opacity: 0;
    transition: all .8s ease 0s;
    transform: translate(0px, -100%);
}

.popup__close {
    all: unset;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__close:hover {
    border: none;
}

.popup__title {
    margin-bottom: 4rem;
}

.popup .contact-form__success {
    padding-inline: 0;
}

.popup .button {
    width: 100%;
}

.popup .contacts__success-content {
    display: none;
    opacity: 0;
    transition: opacity .3s ease;
}