@import 'sections/hero';
@import 'sections/why-us';
@import 'sections/reviews';
@import 'sections/services';
@import 'sections/cases';
@import 'sections/doctors';
@import 'sections/dental-courses';
@import 'sections/our-courses';
@import 'sections/shop';
@import 'sections/contacts';