/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  /* 4 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #F5F5F5;
  background-color: #0A0A0A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.lock,
body._lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
  line-height: 1.3;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 114.8rem;
  margin: 0 auto;
  padding-inline: 2.4rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.section {
  padding-block: 8rem;
}
@media (max-width: 768px) {
  .section {
    padding-block: 6.4rem;
  }
}

.section-title {
  font-family: "Gotham Pro", sans-serif;
  font-size: 4rem;
  color: #F5F5F5;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  color: #0A0A0A;
  background: #F5F5F5;
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  transition: background-color 0.3s linear, color 0.3s linear;
}

/* ==== SWIPER NAVIGATION BUTTONS ==== */
.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: rgba(245, 245, 245, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem 2.4rem;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 10;
}
.swiper-button--prev {
  left: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 18.5L8.5 11.5L15.5 4.5' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.swiper-button--next {
  right: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 18.5L15.5 11.5L8.5 4.5' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.header {
  padding-block: 2.4rem;
}
.header__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-self: start;
}
.header__logo {
  justify-self: center;
}
.header__right {
  justify-self: end;
}
.header__address {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-family: "Gotham Pro", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.2;
}
.header__address::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 21L12.708 21.706C12.6151 21.7993 12.5047 21.8733 12.3831 21.9238C12.2615 21.9743 12.1312 22.0003 11.9995 22.0003C11.8678 22.0003 11.7375 21.9743 11.6159 21.9238C11.4943 21.8733 11.3839 21.7993 11.291 21.706L11.285 21.699L11.268 21.682L11.206 21.619C10.8535 21.2558 10.5068 20.8871 10.166 20.513C9.31072 19.5752 8.49146 18.6052 7.71 17.605C6.818 16.455 5.906 15.155 5.213 13.871C4.535 12.612 4 11.248 4 10C4 5.461 7.592 2 12 2C16.408 2 20 5.461 20 10C20 11.248 19.465 12.612 18.787 13.87C18.094 15.156 17.183 16.455 16.29 17.605C15.1968 19.0041 14.0298 20.344 12.794 21.619L12.732 21.682L12.715 21.699L12.709 21.705L12 21ZM12 13C12.7956 13 13.5587 12.6839 14.1213 12.1213C14.6839 11.5587 15 10.7956 15 10C15 9.20435 14.6839 8.44129 14.1213 7.87868C13.5587 7.31607 12.7956 7 12 7C11.2044 7 10.4413 7.31607 9.87868 7.87868C9.31607 8.44129 9 9.20435 9 10C9 10.7956 9.31607 11.5587 9.87868 12.1213C10.4413 12.6839 11.2044 13 12 13Z' fill='%23F5F5F5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
}

.burger-menu {
  display: none;
}

.social__list {
  display: flex;
  gap: 0.4rem;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.8rem;
  background: linear-gradient(316.21deg, #1D1D1D 0%, #0C0C0C 100%);
}

.lang {
  position: relative;
  z-index: 10;
}
.lang__item {
  position: relative;
  display: inline-block;
}
.lang__item--active .lang__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background: linear-gradient(316.21deg, #1D1D1D 0%, #0C0C0C 100%);
  border: 1px solid rgba(128, 128, 128, 0.2);
  color: #fff;
  transition: all 0.3s ease;
}
.lang__item--active:hover .lang__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.lang__dropdown {
  position: absolute;
  top: calc(100% + 0.6rem);
  left: 0;
  width: 4.8rem;
  padding-block: 0.4rem;
  background: linear-gradient(316.21deg, #1D1D1D 0%, #0C0C0C 100%);
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.8rem);
  transition: all 0.3s ease;
}
.lang__dropdown .lang__dropdown-item .lang__dropdown-link {
  display: block;
  padding: 0.8rem 1.2rem;
}

.hero__inner {
  padding-block: 4rem;
}

.hero__title {
  font-family: "Gotham Pro", sans-serif;
  font-size: 8rem;
  line-height: 1.1;
  color: #F5F5F5;
}

.hero__button {
  margin-block-start: 2.4rem;
}

.hero__services {
  margin-block-start: 8rem;
}

.hero__services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hero__services-item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 2.4rem;
}
.hero__services-item:nth-child(3n) {
  border-right: 0;
}

.hero__services-icon {
  width: 4rem;
  height: 4rem;
}

.hero__services-title {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #fff;
}

.why-us__title {
  margin-bottom: 6.4rem;
  text-align: center;
}

.why-us__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.why-us__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 1.6rem;
  padding: 1.6rem;
  min-height: 28rem;
  text-align: center;
}

.why-us__item-title {
  font-size: 1.8rem;
}

/* Clinic Services */
.services__content {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-bottom: 8rem;
}
@media (max-width: 768px) {
  .services__content {
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 6.4rem;
  }
}

.services__description,
.services__slider {
  width: calc(50% - 4rem);
}
@media (max-width: 768px) {
  .services__description,
  .services__slider {
    width: 100%;
  }
}

.services__slider img {
  width: 100%;
  border-radius: 0.8rem;
}

.services__description {
  font-size: 1.8rem;
}

.services--clinic .services__title {
  text-align: center;
}

.services__title {
  margin-bottom: 4.8rem;
}
@media (max-width: 768px) {
  .services__title {
    margin-bottom: 3.2rem;
  }
}

.services__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}
@media (max-width: 768px) {
  .services__columns {
    grid-template-columns: 1fr;
  }
}

.services__item {
  background-color: #0F0F0F;
  border-radius: 1.6rem;
  padding: 2.4rem;
  margin-bottom: 0.4rem;
}
@media (max-width: 768px) {
  .services__item {
    padding-block: 1.6rem;
  }
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__item-header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.8rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .services__item-header {
    gap: 0.8rem;
  }
}

.services__item-header::before {
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2.6665C13.3629 2.6665 10.785 3.44849 8.59239 4.91358C6.39974 6.37866 4.69077 8.46104 3.6816 10.8974C2.67243 13.3337 2.40839 16.0146 2.92286 18.601C3.43733 21.1875 4.70721 23.5632 6.57191 25.4279C8.43661 27.2926 10.8124 28.5625 13.3988 29.077C15.9852 29.5914 18.6661 29.3274 21.1024 28.3182C23.5388 27.3091 25.6212 25.6001 27.0863 23.4074C28.5513 21.2148 29.3333 18.6369 29.3333 15.9998C29.3333 14.2489 28.9885 12.5151 28.3184 10.8974C27.6483 9.27972 26.6662 7.80986 25.4281 6.57175C24.19 5.33363 22.7201 4.35151 21.1024 3.68144C19.4848 3.01138 17.751 2.6665 16 2.6665ZM13.3333 21.9998V9.99984L21.3333 15.9998L13.3333 21.9998Z' fill='%23808080'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  transition: background-image 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .services__item-header::before {
    display: none;
  }
}

.services__item-header.active::before {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5333 28.6267C9.30857 27.5531 8.43501 26.1361 8.02603 24.5596C7.61706 22.9832 7.69159 21.3202 8.23993 19.7867L11.0799 11.88C11.1452 11.6973 11.2613 11.537 11.4145 11.4179C11.5676 11.2989 11.7516 11.226 11.9448 11.2078C12.1379 11.1896 12.3323 11.2268 12.505 11.3152C12.6777 11.4036 12.8217 11.5394 12.9199 11.7067L13.3333 12.44C13.6533 12.96 13.7199 13.6 13.5199 14.1733L12.2133 17.8267L12.7866 18.3333L20.7333 9.33332C21.1999 8.79999 21.9999 8.74666 22.5466 9.21332C23.0666 9.67999 23.1199 10.4933 22.6666 11.0133L16.7333 17.72L17.5066 18.4L24.7733 10.16C25.2399 9.62666 26.0533 9.57332 26.5733 10.04C27.1066 10.5067 27.1599 11.3333 26.6666 11.8533L19.4133 20.0933L20.1866 20.7733L26.4399 13.68C26.9066 13.1467 27.7199 13.0933 28.2399 13.56C28.7599 14.0267 28.8266 14.84 28.3599 15.3333L22.1066 22.4533L22.8666 23.1333L27.0933 18.3467C27.5599 17.8133 28.3733 17.76 28.9066 18.2267C29.4399 18.6933 29.4799 19.5067 29.0133 20L22.0799 27.8933C21.3705 28.7005 20.5088 29.3599 19.5443 29.8337C18.5797 30.3076 17.5312 30.5865 16.4587 30.6546C15.3862 30.7227 14.3108 30.5787 13.294 30.2307C12.2773 29.8827 11.3391 29.3376 10.5333 28.6267ZM15.4533 12.2933L19.2399 7.99999C19.5599 7.63999 19.9599 7.33332 20.3999 7.15999L20.9066 6.11999C20.982 5.96975 21.0266 5.80597 21.0378 5.63825C21.0491 5.47054 21.0267 5.30227 20.9721 5.14331C20.9174 4.98435 20.8316 4.8379 20.7196 4.71255C20.6076 4.5872 20.4717 4.48546 20.3199 4.41332C20.0154 4.2673 19.6657 4.24698 19.3463 4.35676C19.027 4.46655 18.7636 4.6976 18.6133 4.99999L15.2666 11.8533C15.3333 12 15.4133 12.1467 15.4533 12.2933ZM14.6666 10.6667V10.7333L18.3733 3.17332C18.518 2.86714 18.5362 2.51624 18.4238 2.19674C18.3115 1.87724 18.0778 1.61491 17.7733 1.46666C17.6229 1.39183 17.4592 1.34765 17.2916 1.33669C17.124 1.32572 16.956 1.34819 16.7971 1.40278C16.6383 1.45737 16.492 1.543 16.3665 1.65468C16.2411 1.76637 16.1392 1.90187 16.0666 2.05332L12.5466 9.26666C13.4133 9.41332 14.1733 9.90666 14.6666 10.6667ZM6.35993 19.1067L9.19993 11.2C9.55993 10.2 10.3999 9.51999 11.3999 9.29332L14.2533 3.43999C14.4007 3.13571 14.4218 2.78544 14.3119 2.46567C14.202 2.14591 13.97 1.88263 13.6666 1.73332C13.5163 1.6585 13.3525 1.61432 13.1849 1.60335C13.0174 1.59239 12.8493 1.61486 12.6905 1.66945C12.5317 1.72404 12.3853 1.80967 12.2599 1.92135C12.1345 2.03303 12.0325 2.16854 11.9599 2.31999L6.6666 13.12L5.99993 12.7867L6.27993 8.90666C6.33326 8.30666 6.09326 7.70666 5.6666 7.27999L5.05326 6.66666C4.4266 6.09332 3.39993 6.47999 3.33326 7.33332L2.6666 15.72C2.49326 18.44 3.69326 21.04 5.79993 22.6667C5.77326 21.4933 5.9466 20.28 6.35993 19.1067Z' fill='%23808080'/%3E%3C/svg%3E%0A");
}

.services__item-header::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8L12 15L19 8' stroke='%23808080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.services__item-header.active::after {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .services__item-title {
    max-width: 15rem;
  }
}

.services__item-price {
  color: #808080;
  margin-left: auto;
}

.services__sub-list {
  display: none;
  padding-left: 5.6rem;
}

.services__sub-list.active {
  display: block;
}

.services__sub-item {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  padding-block: 0.4rem;
  border-bottom: 1px dashed rgba(245, 245, 245, 0.0509803922);
}

.services__sub-item:last-child {
  border-bottom: 0;
}

/* Doctors */
.doctors__title {
  margin-bottom: 4.8rem;
}

.footer {
  padding-top: 8rem;
  padding-bottom: 4rem;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 6.4rem;
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: 2.4rem;
  }
  .footer__logo .logo__image {
    width: 29.6rem;
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
}

.footer__phone {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.footer__phone::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4.5C6 3.83696 6.25286 3.20107 6.70294 2.73223C7.15303 2.26339 7.76348 2 8.4 2H15.6C16.2365 2 16.847 2.26339 17.2971 2.73223C17.7471 3.20107 18 3.83696 18 4.5V19.5C18 20.163 17.7471 20.7989 17.2971 21.2678C16.847 21.7366 16.2365 22 15.6 22H8.4C7.76348 22 7.15303 21.7366 6.70294 21.2678C6.25286 20.7989 6 20.163 6 19.5V4.5ZM13.2 18.25C13.2 17.9185 13.0736 17.6005 12.8485 17.3661C12.6235 17.1317 12.3183 17 12 17C11.6817 17 11.3765 17.1317 11.1515 17.3661C10.9264 17.6005 10.8 17.9185 10.8 18.25C10.8 18.5815 10.9264 18.8995 11.1515 19.1339C11.3765 19.3683 11.6817 19.5 12 19.5C12.3183 19.5 12.6235 19.3683 12.8485 19.1339C13.0736 18.8995 13.2 18.5815 13.2 18.25Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}/*# sourceMappingURL=main.css.map */